.bg-custom-primary {
  background: #ffffff !important;
}
.navbar-nav a {
  color: black !important;
}
.anyq {
  background: -webkit-linear-gradient(0deg, #0015b0 0%, #31a3e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 8;
}
.customheader {
  background: -webkit-radial-gradient(
    circle,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(236, 83, 38, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customH1 {
  font-weight: black;
  background: linear-gradient(to top left, #009fff, #ec2f4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-vid {
  width: 100% !important;
  height: 100%;
}
.text-c-org {
  color: orange;
}
.text-c-blue {
  color: rgb(55, 171, 255);
}
.canim-content {
  box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.1) !important;
  border-width: 0.1px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  border-image-slice: 1;
}
.canim-content:hover {
  border-width: 0.1px;
  border-radius: 10px;
  border-style: solid;
  border-image: linear-gradient(to right, red, purple);
  border-image-slice: 1;
  box-shadow: none;
}

.canim-content:hover .canim-icon {
  color: rgb(249, 0, 0) !important;
}
.canim-content:hover {
  color: black !important;
}
.canim-item:hover .services-content::after {
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}

.canim-item:hover .services-content-icon {
  position: relative;
  z-index: 2;
}
.cm_img {
  width: 396px !important;
  height: 410px !important;
}
.cm_img_2 {
  width: 396px !important;
  height: 420px !important;
}

/* partner Logo  */
.logoslide img {
  width: 250px !important;
  padding: 0 30px 0 30px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.hove1:hover {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.hove1:hover {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.hove2:hover {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
.hove3:hover {
  color: wheat !important;
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #7c64d5 48%,
    #4cc3ff 100%
  );
}
.text-pcrm {
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container-about-us {
  background-image: url(../assets/img/about_us_bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-service_ {
  background-image: url(../assets/img/Service_bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products_bg {
  background-image: url(../assets/img/products.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_bg {
  background-image: url(../assets/img/photo-1596524430615-b46475ddff6e.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial_bg {
  background-image: url(../assets/img/testimonial.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fof_bg {
  background-color: #6a11cb;
}
.abus-text {
  text-align: center;
}
.mbc5 {
  margin-bottom: 280px;
}

@media only screen and (max-width: 768px) {
  .contcard a {
    font-size: 16px !important;
  }
  .contcardem a {
    font-size: 14px !important;
  }
  .carousel-caption p {
    font-size: 10px !important;
    width: 80% !important;
  }
  .carousel-caption .carousel_btns {
    display: flex !important;
    font-size: 10px !important;
  }
  .carousel-caption .carousel_btns button {
    font-size: 10px !important;
  }
  .ccf {
    background-image: linear-gradient(
      to right,
      #6a11cb 0%,
      #2575fc 100%
    ) !important;
  }
  .contact-detail {
    padding: 0 !important;
  }
}

.topbarstyle {
  background-image: linear-gradient(to right, #ce0fb1 0%, #2575fc 100%);
}
.topbarstyle small {
  color: #ffffff !important;
}

.border-orenge {
  border-color: orange !important;
}
.testimonial-item {
  height: 280px;
  background-color: white !important;
}
.longlogo img {
  width: 120px !important;
}
.testimonial-logos img {
  width: 250px !important;
  padding: 0 10px 0 10px;
  aspect-ratio: 7/2;
  object-fit: contain;
}













.logincontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
  background-color: #eeeeee;
}


.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	/* box-shadow: 0px 0px 24px #2d3c61; */
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #4578c9;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}