.bg-custom-primary {
  background: #104cba !important;
}
.c-vid {
  width: 100% !important;
}
.text-c-org {
  color: orange;
}
.text-c-blue {
  color: rgb(55, 171, 255);
}
.canim-content {
  box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.1) !important;
  border-width: 0.1px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  border-image-slice: 1;
}
.canim-content:hover {
  border-width: 0.1px;
  border-radius: 10px;
  border-style: solid;
  border-image: linear-gradient(to right, red, purple);
  border-image-slice: 1;
  box-shadow: none;
}

.canim-content:hover .canim-icon {
  color: rgb(249, 0, 0) !important;
}
.canim-content:hover {
  color: black !important;
}
.canim-item:hover .services-content::after {
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}

.canim-item:hover .services-content-icon {
  position: relative;
  z-index: 2;
}
.cm_img {
  width: 396px !important;
  height: 410px !important;
}
.cm_img_2 {
  width: 396px !important;
  height: 420px !important;
}

/* partner Logo  */
.logoslide img {
  width: 250px !important;
  padding: 0 30px 0 30px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.hove1:hover {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.hove1:hover {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.hove2:hover {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
.hove3:hover {
  color: wheat !important;
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #7c64d5 48%,
    #4cc3ff 100%
  );
}
.text-pcrm {
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container-about-us {
  background-image: url(../assets/img/about_us_bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-service_ {
  background-image: url(../assets/img/Service_bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products_bg {
  background-image: url(../assets/img/products.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_bg {
  background-image: url(../assets/img/photo-1596524430615-b46475ddff6e.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.abus-text {
  text-align: center;
}
.mbc5 {
  margin-bottom: 280px;
}
